body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: rgb(34, 34, 34);
}
div{
    width: 50%;
    height: 50%;
}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
}